
{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      {% for author in this.author %}
      {% set person=site.get('/people/'+author) %}
      <a href="{{person|url}}">
	{% if person.profile_image %}
	<img src="{{person|url + person.profile_image}}" width="100%" />
	{% else %}
	<img src="{{ '/static/img/empty-profile.jpeg'|asseturl }}" width="100%" />
	{% endif %}
	</a>
      <div class="profile_name"><a href="{{person|url}}">{{person.name}}</a></div>
{% endfor %}
    </div>
    <div class="col">
      <h1>{{this.name}}</h1>

      {{this.main}}
    </div>
  </div>
</div>

{% endblock %}
