{% extends "layout.html" %}
{% block body %}
<h1>Case Studies</h1>

{{this.main}}

<dl>
  {% for cs in this.children %}
  <dt><a href="{{cs|url}}">{{cs.name}}</a></dt>
  <dd>{{cs.description}}</dd>
  
  {% endfor %}
</dl>
{% endblock %}
