{% extends "layout.html" %}
{% block body %}
<h1>Editorials</h1>
<dl>
  {% for ed in this.children %}
  <dt><a href="{{ed|url}}">{{ed.title}}</a></dt>
  <dd>{{ed.description}}</dd>
  
  {% endfor %}
</dl>
{% endblock %}
