
{% extends "layout.html" %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col-2">
      {% for author in this.author %}
      {% set person=site.get('/people/'+author) %}
      <a href="{{person|url}}">
	<img src="{{person|url + person.profile_image}}" width="100%" />
	</a>
      <div class="profile_name"><a href="{{person|url}}">{{person.name}}</a></div>
{% endfor %}
    </div>
    <div class="col">
      <h1>{{this.title}}</h1>
      {{this.main}}
    </div>
  </div>
</div>

{% endblock %}
