{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
	{{ this.main }}
      </div>
    </div>
    
      
      <!-- Example row of columns -->
<div class="container text-left">
      <div class="row">
        <div class="col">
{{ this.block1 }}
        </div>
        <div class="col">
{{ this.block2 }}
       </div>
        <div class="col">
{{ this.block3 }}
        </div>
      </div>
</div>

      <hr>


{% endblock %}
