{% extends "layout.html" %}
{% block body %}
<h1>News and Events</h1>
<dl>
  {% for ne in this.children %}
  <dt><a href="{{ne|url}}">{{ne.name}}</a></dt>
  <dd>{{ne.description}}</dd>
  
  {% endfor %}
</dl>
{% endblock %}
