{% extends "layout.html" %}
{% block body %}
<h1>People</h1>

{{this.main}}

<dl>
  {% for ps in this.children %}
  <dt><a href="{{ps|url}}">{{ps.name}}</a></dt>
  <dd>{{ps.description}}</dd>
  
  {% endfor %}
</dl>
{% endblock %}
