
{% extends "layout.html" %}
{% block body %}
<div class="container">
<h1>{{this.name}}</h1>
<h2>{{this.affiliation}}</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-2">
  {% if this.profile_image %}
  <img src="{{this.profile_image|url}}" width="100%"  />
  {% else %}
  <img src="{{ '/static/img/empty-profile.jpeg'|asseturl }}" width="100%" />
  {% endif %}
    </div>
    <div class="col">
      {{this.main}}
    </div>
  </div>
</div>



{% endblock %}
