{% extends "layout.html" %}
{% block body %}
<h1>Software</h1>
<dl>
  {% for sw in this.children %}
  <dt><a href="{{sw|url}}">{{sw.name}}</a></dt>
  <dd>{{sw.description}}</dd>
  
  {% endfor %}
</dl>
{% endblock %}
